body {
	/**background: #008A00; */
	background: #e8e8e8;


	
}

.navbar {
	background: black;
	width: 100%;
		
}


.navbar-default .navbar-brand {
	color: black;
	font-size: 30px;
	font-family: 'Just Me Again Down Here', cursive;

}

.navbar-default .navbar-brand:hover {
	color: green;
	font-size: 30px;
	font-family: 'Just Me Again Down Here', cursive;
	
	
	
}


.link {
	color: green !important;
	font-size: 16px;	

	
}

.link:hover {
	color: black !important;
}





.btn-cool {
	background: white;
	height: 50px;
	color: black;
	padding-top: 13px;
	padding-left: 60px;
	padding-right: 60px;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;
	margin-top: 100px;
}

.btn-cool:hover {
	background: #3b5998;
	color: white;
	transform: scale(1.1);
}

.box {
	min-height: 100px;
	background-color: #fff;
	border: 1px solid #c2c2c2;
	border-radius: 4px;
	margin-top: 40px;
	margin-bottom: 40px;
	}
	
	.logo1 {
	height: 200px;
	width: 200px;
}

.logo3 {
	height: 200px;
	width: 200px;
	
}




.board {
	
	color: white;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px black;
	font-family: cursive;
	font-size: 80px;
	
	
}

.title {
	text-transform: uppercase;
	font-family: PT Sans;
	padding-top: 25px;
	color: black;
	/**text-shadow: 5px 5px 5px black; */


	
	
}

.title:hover {
	color: green;
}

.header {
	min-height: 300px; 
	background: linear-gradient(#076407, #FFFFFF);
	padding-top: 100px;
	padding-bottom: 50px;
	width: 100%;
}


.row {
	padding-top: 20px;
}



.box1 {
	min-height: 50px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	margin-top: 40px;
	margin-bottom: 40px;
	}
	

	.logo2 {
	height: 100px;
	width: 100px;
	opacity: 0.7;
	-webkit-filter: brightness(50%);
	-webkit-filter: grayscale(100%); 
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    transition: all .35s ease-in-out;


}

.logo2:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%); 
	-webkit-filter: brightness(100%);
	-webkit-transform: scale(1.2);
}

.boardname {
	color: white;
}


.boardlink {
	text-decoration: none;
	color: white;
	
}
.boardlink:hover {
	text-decoration: none;
	color: black;
	text-shadow: 5px 5px 5px white;
	
}

.divider {
	width: 25%;
	border-color: white;
	border-width: 5px; 
	-webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    transition: all .6s ease-in-out;
	
}


.content2 {
	color: white;
	
}

.rows {
	-webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    transition: all .6s ease-in-out;
	opacity: 0.5;
}

.rows:hover {
	opacity: 1;
}

.rows:hover .divider{
	width: 100%;


}

.divide {
	width: 25%;
	border-color: white;
	border-width: 5px; 
	-webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    transition: all .6s ease-in-out;
	
}

.divide:hover {

	width: 100%;
	border-color: white;
	border-width: 5px; 

}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }